@model List<Task_4.Data.User>
@{
    ViewData["Title"] = "Home Page";
}

<script language="JavaScript">
    function toggle(source) {
       checkboxes = document.getElementsByName('selectedUsers');
        for(var i=0;i<checkboxes.length;i++) {
         checkboxes[i].checked = source.checked;
    }
}
</script>

<form method="POST">
    <div class="btn-group" role="group">
        <button type = "submit" class="nav-link text-dark" asp-controller="Manage" asp-action="Block" aria-label="Mute">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
            </svg>
         </button>
        <button type = "submit" class="nav-link text-dark" asp-controller="Manage" asp-action="Unlock">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
            </svg>
        </button> 
        <button type = "submit" class="nav-link text-dark" asp-controller="Manage" asp-action="Delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.5 1a.5.5 0 0 0-.5.5v1h4v-1a.5.5 0 0 0-.5-.5h-3ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1H3.042l.846 10.58a1 1 0 0 0 .997.92h6.23a1 1 0 0 0 .997-.92l.846-10.58Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
        </button>   
    </div>
    <div>
        <table class="table table-striped">
                 <thead class="thead-inverse">
                    <tr>
                      <th><input type="checkbox" onClick="toggle(this)" value="Select All" class="btn btn-primary"/></th>
                      <td>Name</td>
                      <td>Email</td>
                      <td>Registration Date</td>
                      <td>Last Login</td>
                      <td>Status</td>  
                      <td>Blocked</td>
                  </tr>
                 </thead>
                  <tbody>
                       @foreach(var user in Model)
                       {
                        <tr>
                            <th scope="row"><input type="checkbox" name="selectedUsers"
                                       id="@user.Id" value="@user.Id" >
                            </th>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.RegisterDate</td>
                            <td>@user.LastLogin</td>
                            <td>@user.Status</td>
                            <td>@user.IsBlocked.ToString()</td>
                        </tr>
                       }
                 </tbody>
        </table>          
    </div> 
</form>